<div class="modal-header">
    <h4 class="modal-title">Rezervacija korisnika {{rezervacija.korisnik.email}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <textarea class="form-control-plaintext" [(ngModel)]="razlog" placeholder="Razlog"></textarea>
    </div>
    <ngb-alert *ngIf="showMsg" (closed)="showMsg = false">Razlog je obavezan.</ngb-alert>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="update()">Sacuvaj</button>
</div>