<div class="container d-flex justify-content-center">

    <form [formGroup]="form">
        <h3>Prijava na sistem</h3>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Korisnicko ime" formControlName="username" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Lozinka" formControlName="password" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" (click)="login(form)">Prijavi se</button>
        </div>
    </form>
</div>
<div class="container">
    <ngb-alert *ngIf="isOpen" (closed)="isOpen = false">Kredencijali nisu ispravni.</ngb-alert>
</div>