<div class="modal-header">
    <h4 class="modal-title"> Naslov: {{poruka.naslov}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        {{poruka.sadrzaj}}
    </div>
</div>
<div class="modal-footer">
    <a href="mailto:{{poruka.email}}?subject={{poruka.naslov}}" class="btn btn-primary"
        (click)="activeModal.close()">Odgovori</a>
</div>